* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 5vw;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
}

div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

label{
    color: red;
    font-size: 2vw;
}

body {
background-image: url("../images/landing-page.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
position: relative;
display: flex;
flex-wrap: wrap;
}

.btn-large:hover{
    background-color:  rgb(168, 64, 15);
}

.main-content {
    background-color: rgba(240, 248, 255, .5);
    border-radius: 15px;
    position: fixed;
    margin: 0 10px;
    top: 30%;
    bottom: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}

.section-title{
    flex-shrink: 1;
    padding-top: 10px;

}

.section-description {
    flex-shrink: 2;
    padding: 0 10px;
}

.section-button {
    margin-top: 10px;
    padding-bottom: 10px;
}

.agreement {
    margin-top: 10px;
}


.acknowledgement label {
    position: relative;
    line-height: 2px;
}

.acknowledgement label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(240, 248, 255, .5);  
    border: 1px solid black;  
    position: absolute;
    left: 226px;
}

.acknowledgement label::after{
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    left: 230px;
    top: 0px;
    transform: rotate(-58deg);
}
/* rule only works if input is above label element in HTML. Ask why it doesn't work even if css styling is switched */

.acknowledgement input + label::after{
    content: none;
}

.acknowledgement input:checked + label::after{
    content: '';
} 

.btn-large{
    background-color: rgb(168, 64, 15);
    height:30px;
    line-height: normal;
    border-radius: 9px;
}

@media screen and (max-width: 720px) {
    h2{
    font-size: 8vw;
    }

    .main-content {
    height: 20% ;
}
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 575px) {

    p {
        font-size: 15px;
    }
    span {
        font-size: 11px;
    }

    label{
        font-size: 3vw;
    }
    
    .section-title {
        padding: 10px 10px 0 10px;
    }

    .agreement, .section-description {
        padding: 0 10px
    }

    .section-button {
        padding-bottom: 10px
    }

    .main-content{
        height: max-content;
    }
 }

    @media screen and (max-width: 360px) {
        p {
            font-size: 12px;
        }
        span {
            font-size: 10px;
        }

    }


