* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    margin: 0px 0 10px 0;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}
p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
div{
    width: 700px
}

button{
    margin: 10px 248px;
}

label{
    color: red
}

body {
background-image: url("../images/landing-page.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
position: relative;
}

.btn-large{
    background-color: rgb(168, 64, 15);
}

.btn-large:hover{
    background-color:  rgb(168, 64, 15);
}

.main-content {
    background-color:rgba(240, 248, 255, .5);
    width: 700px;
    border-radius: 15px;
    margin-left: 50px;
    position: relative;
    top: 300px;
}
.agreement {
    margin-top: 10px;
}

.acknowledgement label {
    position: relative;
    line-height: 2px;
}

.acknowledgement label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(240, 248, 255, .5);  
    border: 1px solid black;  
    position: absolute;
    left: 226px;
}

.acknowledgement label::after{
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    left: 230px;
    top: 0px;
    transform: rotate(-58deg);
}
/* rule only works if input is above label element in HTML. Ask why it doesn't work even if css styling is switched */

.acknowledgement input + label::after{
    content: none;
}

.acknowledgement input:checked + label::after{
    content: '';
} 

@media screen and (max-width: 980px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }

}



