* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    margin: 0px 0 10px 0;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}
p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
div{
    width: 700px
}

button{
    margin: 10px 248px;
}

label{
    color: red
}

body {
background-image: url("../images/landing-page.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
position: relative;
}

.btn-large{
    background-color: rgb(168, 64, 15);
}

.btn-large:hover{
    background-color:  rgb(168, 64, 15);
}

.main-content {
    background-color:rgba(240, 248, 255, .5);
    width: 700px;
    border-radius: 15px;
    margin-left: 50px;
    position: relative;
    top: 300px;
}
.agreement {
    margin-top: 10px;
}

@media screen and (max-width: 980px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .main-content{
        top: 600px;
        margin: 0 auto;
    }

}



