
.hero{
    background-image: url(../images/martini.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    margin: 0;
}

#music{
    text-align: center;
    
}

#music h2{
    margin: 0;
}

.container{
    margin-bottom: 0;
    height:40vh
}

.recipes{
    background-image: url(../images/bartender.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    margin: 0;
}