
.hero{
    background-image: url(../images/martini.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    height: 80vh;
    margin: 0;
}

.quote{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    padding: 30px;
    margin: 0;
}

#music{
    text-align: center;
}

#music h2{
    margin: 0;
}

.audio-player{
    border-radius: 50px;
    padding-top: 30px;
	background: url(../images/music-player-background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

#buttons{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}


button#play{
	background:url(../images/play.png)
}

button#pause{
	background:url(../images/pause.png)
}

.container{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-bottom: 20px;
}

.recipes{
    background-image: url(../images/bartender.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    margin: 0;
}

