
.hero{
    background-image: url(../images/martini.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    height: 80vh;
    margin: 0;
}

.quote{
    background-color: rgba(240, 248, 255, .5);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    width: 40%;
    height: 65%;
    padding: 30px;
    margin: 0;
}

#music{
    text-align: center;
    
}

#music h2{
    margin: 0;
}

.container{
    margin-bottom: 0;
    height:40vh
}

.recipes{
    background-image: url(../images/bartender.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    margin: 0;
}


.carousel {
    height: 460px;
    perspective: 400px;
}

.carousel h2 {
    text-decoration: underline;
}

.carousel .carousel-item {
    width: 280px;
}

.carousel .carousel-item img {
    border: 2px solid white;
}

.carousel .carousel-item h5 {
    color: white;
    text-align: center;
}